<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pokédex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <!-- <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
          <a href="#" class=" nav-link dropdown-toggle" role="button" aria-haspopup="true" data-bs-toggle="dropdown">  
            Générations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/gen?gen=1">Gen 1</a>
            <a class="dropdown-item" href="/gen?gen=2">Gen 2</a>
            <a class="dropdown-item" href="/gen?gen=3">Gen 3</a>
            <a class="dropdown-item" href="/gen?gen=4">Gen 4</a>
            <a class="dropdown-item" href="/gen?gen=5">Gen 5</a>
            <a class="dropdown-item" href="/gen?gen=6">Gen 6</a>
            <a class="dropdown-item" href="/gen?gen=7">Gen 7</a>
            <a class="dropdown-item" href="/gen?gen=8">Gen 8</a>
            <a class="dropdown-item" href="/gen?gen=9">Gen 9</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>